# Tauri
src-tauri/target/
src-tauri/gen/schemas

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Python cache
codegen/__pycache__/

# Code gen
app/types/keycode.ts

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
